<Config>
  <SpriteCategory Name="ui_taom_bannericons">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="ui_loading">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="ui_taom">
		<AlwaysLoad />
	</SpriteCategory>
  <SpriteCategory Name="ui_custom_fonts">
        <PackAllSpritesToUniqueTextures/>
        <SingleChannel/>
        <AlwaysLoad/>
        <EdgeSize Value="0" />
    </SpriteCategory>
</Config>